include /etc/nginx/common/market_data_notification_upstream.conf;

server {
  listen 80;
  listen [::]:80;

  server_name {{ DOMAIN }};

  return 301 https://$host$request_uri;
}

limit_req_zone $binary_remote_addr zone=market_data_notification_limit:10m rate=3r/s;

include /etc/nginx/common/json_log.conf;

server {
  listen 443 ssl;

  ssl_certificate      /etc/letsencrypt/live/{{ DOMAIN }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ DOMAIN }}/privkey.pem;

  server_name {{ DOMAIN }};

  server_tokens off;
  client_max_body_size 1m;

  access_log /var/log/nginx/access.log json_combined;
  error_log /var/log/nginx/error.log;

  include /etc/nginx/common/favicon_location.conf;

  location / {
    limit_req zone=market_data_notification_limit burst=6 delay=2;
    limit_req_status 444;
    include /etc/nginx/common/market_data_notification_proxy.conf;
  }
}
